.button {
  font: inherit;
  border: 1px solid black;
  /* background: #085f00; */
  color: rgb(47, 89, 228);
  padding: 0.25rem 1rem;
  margin: 1rem;
  cursor: pointer;
}

/* .button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
} */

.button:focus {
  outline: none;
}
